<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Requests</title>
</head>
<body>
    <h1>Completed Requests</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>User</th>
                <th>Requested Date</th>
                <th>Description</th>
                <th>Request Type</th>
                <th>Unit Price</th> 
                <th>Quantity</th>  
                
            </tr>
        </thead>
        <tbody>
            {% for request in completed_requests %}
                <tr>
                    <td>{{ request.Id }}</td>
                    <td>{{ request.name }}</td>
                    <td>{{ request.Requested_Date }}</td>
                    <td>{{ request.Description }}</td>
                    <td>{{ request.Request_Type }}</td>
                    <td>{{ request.Unit_Price }}</td>  
                    <td>{{ request.Quantity }}</td>  
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
